.jumbotron {
	background-color: Darkblue;
	color: black;
}


footer {
	padding: 10px 10px 0 10px;
	background-color: Darkblue;
	color: white;
	margin-bottom: 0px;
	margin-top: 10 px;
}

.product-card {
	flex: 1 150;
	padding: 2px 5px 2px 5px;
}

.btn-reserva {
	background-color: gray;
	color: white;
	width: 100%;	
}
